@charset "utf-8";
/* 초기화 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
* {
   margin: 0;
   padding: 0;
   list-style: none;
   font-family: 'NotoSansKR';
}
a {
   text-decoration: none;
}

/* common */
.container {
   margin: 0 auto;
   max-width: 1200px;
   overflow: hidden;
   font-family: 'Noto Sans KR', sans-serif;
}

/* header */
header {
   width: 100%;
   height: 80px;
   margin: 14px 0 0 0;
   box-sizing: border-box;
   background-color: #fff;
}
h1 img {
   width: 66px;
}
h1 {
   float: left;
   margin: 0 75px 0 0;
}
/* nav */
.menu {
   float: left;
   height: 80px;
   width: 918px;
   z-index: 1;
   
}

.navi > li {
   float: left;
   margin: 14px 0 0 0;
   font-size: 18px;
   font-weight: 300;
}

.navi > li > a {
   float: left;
   height: 40px;
   width: 150px;
   line-height: 40px;
   font-size: 18px;
   font-weight: 300;
   text-align: center;
   color: #292929;
}
.navi > li > a:hover {
   color: #ff7b00;
   font-weight: bold;
   text-decoration: none;

}
.submenu {
   width: 150px;
   height: 50px;
   top: 80px;
   position: absolute;
   display: none;
   z-index: 1;
}
.submenu > li {
   height: 50px;
   width: 150px;
   margin: 0 58px 0 0;
   font-size: 18px;
   font-weight: 300;
   text-align: center;
   background-color: #ff7b00;
}
.submenu > li > a {
   height: 40px;
   width: 120px;
   line-height: 40px;
   font-size: 14px;
   /* font-weight: bold; */
   /* text-align: center; */
   color: #fff;
}

.submenu > li > a:hover {
   background-color: #ff7b00;
   font-weight: bold;;
}
nav_r {
   float: right;
   overflow: hidden;
}
nav_r ul li {
   float: right;
   margin: 20px 0 0 0;
   /* font-size: 18px;
   font-weight: 300; */
}
nav_r ul li img {
   width: 24px;
   height: 24px;
   box-sizing: border-box;
   background-position: center;
   background-size: cover;
}
.nav_icon1 {
   float: right;
   width: 24px;
   height: 24px;
   margin: 0 5px 0 0;
}
.nav_icon2 {
   float: right;
   width: 30px;
   height: 30px;
}

/* main_visual */
#main_visual {
   clear: both;
   width: 100%;
   height: 900px;
   background-position: center;
   background-size: cover;
}
.maintext {
   font-size: 42px;
   color: #fff;
   font-weight: 300;
   margin: 226px 0 0 0;
   box-sizing: border-box;
   letter-spacing: -0.45px;
   line-height: 125%;
}
h2 {
   font-size: 70px;
   color: #ffff;
   margin: 10px 0 0 0;
   box-sizing: border-box;
   letter-spacing: -4.7px;
}
/* common title */
.title1 {
   text-align: center;
   font-size: 38px;
   font-weight: bold;
   color: #292929;
   margin: 154px 0 100px 0;
   box-sizing: border-box;
}
/* 1 */
#part_1 {
   width: 100%;
   height: 1080px;
   clear: both;
   box-sizing: border-box;
   background-color: #fff;
}
.text_box1 {
   float: left;
   width: 278px;
   height: 200px;
}
.sub {
   font-size: 24px;
   font-weight: bold;
   line-height: 130%;
}
.sub_1 {
   font-size: 16px;
   font-weight: 300;
   line-height: 120%;
   padding: 6px 0 0 0;
}
.button {
   font-size: 20px;
   font-weight: 100;
   margin: 55px 0 0 0;
   color: #ff7b00;
}
.text1 {
   padding: 305px 0 0 27px;
   font-size: 16px;
   color: #fff;
}
.text2 {
   padding: 0 0 0 27px;
   font-size: 30px;
   font-weight: 100;
   color: #fff;
}
.part_1box1 {
   float: left;
   width: 277px;
   height: 398px;
   margin: 0 10px 0 10px;
   background-image: url(../resources/images/jungenjin/flour.jpg);
   background-color: #707070;
   background-blend-mode: multiply;
}
.part_1box2 {
   float: left;
   box-sizing: border-box;
   width: 277px;
   height: 398px;
   margin: 0 10px 0 0;
   background-image: url(../resources/images/jungenjin/peach.jpg);
   background-color: #707070;
   background-blend-mode: multiply;
}
.part_1box3 {
   float: left;
   box-sizing: border-box;
   width: 277px;
   height: 398px;
   background-image: url(../resources/images/jungenjin/egg.jpg);
   background-color: #707070;
   background-blend-mode: multiply;
}
/* 1-hover */
.button:hover {
   color: #ff7b00;
   font-weight: bold;
}
.part_1box1:hover {
   background-color: #252525;
   background-blend-mode: multiply;
}
.part_1box2:hover {
   background-color: #252525;
   background-blend-mode: multiply;
}
.part_1box3:hover {
   background-color: #252525;
   background-blend-mode: multiply;
}
/* 2 */
#part_2 {
   width: 100%;
   height: 1080px;
   clear: both;
   background-color: #fff;
}
.part_2box1 {
   float: left;
   width: 277px;
   height: 380px;
}
.part_2box2 {
   float: left;
   width: 277px;
   height: 380px;
   margin: 0 0 0 10px;
}
.text_box2 {
   width: 278px;
   height: 70px;
   margin: 26px 0 0 0;
}
.text3 {
   font-size: 24px;
   font-weight: bold;
}
.text4 {
   font-size: 16px;
   font-weight: 400;
   color: #6c757d;
}
.boximg1 {
   object-fit: contain;
   width: 278px;
   height: 284px;
   background-image: url(../resources/images/jungenjin/milk.jpg);
   background-position: center;
}

.boximg2 {
   width: 278px;
   height: 284px;
   background-image: url(../resources/images/jungenjin/beverage.jpg);
   background-position: center;
}
.boximg3 {
   width: 278px;
   height: 284px;
   background-image: url(../resources/images/jungenjin/cheese.jpg);
   background-position: center;
}
.boximg4 {
   width: 278px;
   height: 284px;
   background-image: url(../resources/images/jungenjin/soup.jpg);
   background-position: center;
}
/* 2-hover */
.text3:hover {
   color: #ff7b00;
}
/* 3 */
#part_3 {
   width: 100%;
   height: 1080px;
   clear: both;
}
.tubular {
   color: #fff;
}
.text5_1 {
   text-align: center;
   font-size: 20px;
   font-weight: bold;
   padding: 10px 15px 0 330px;
   color: #fff;
}
.text5 {
   text-align: center;
   font-size: 20px;
   font-weight: bold;
   padding: 10px 15px 0 0;
   color: #fff;
}
/* footer */
footer {
   width: 100%;
   min-height: 246px;
   background-color: #495057;
   clear: both;
}
.text7 {
   font-size: 20px;
   font-weight: 100;
   color: #f8f9fa;
}
.part_4box1 {
   float: left;
   width: 277px;
   height: 155px;
   margin: 27px 0 0 0;
}
.text8 {
   font-size: 36px;
   font-weight: 800;
   color: #161a1d;
}
.text9 {
   font-size: 12px;
   font-weight: 300;
   color: #adb5bd;
}
.part_4box2 {
   float: left;
   width: 585px;
   height: 155px;
   margin: 27px 0 0 0;
}
.boximg5 {
   float: left;
   width: 175px;
   height: 114px;
   background-image: url(../resources/images/jungenjin/bakery3.jpg);
   background-position: center;
   margin: 9px 0 0 0;
}
.text_box3 {
   float: left;
   width: 380px;
   height: 114px;
   margin: 9px 0 0 30px;
}
.text10 {
   font-size: 14px;
   font-weight: bold;
   color: #dee2e6;
}
.part_4box3 {
   float: left;
   width: 277px;
   height: 155px;
   margin: 27px 0 0 0;
}