@charset "UTF-8";
@font-face {
    font-family: 'KyoboHandwriting2020A';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* 모든 글씨에 교보손글씨 적용 */

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'KyoboHandwriting2020A'
}


.bx-wrapper{
    margin-left: 15%;
    margin-right: 15%;

}

content{
width: 100%;
height: auto;
margin-bottom: 50px;

}

.content_Up{
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 18%;
    border: 1px solid black;
}

h2 {
    text-align: center;
}

h5{
    padding: 3px;
    background-color: aqua;
}

/* 부트스트랩을 활용한 반응형 웹은 margin 굳이 쓰지 않아도 됨. */
.mini_faq{
    /* margin-top:5% ;
    margin-left: 15%;
    float: left;
    padding: 3%;
    border: 1px solid black;
    margin-right: 1%0%; */
    text-align: center;
}

/* .mini_rank{
    margin-top:5% ;
    float: right;
    padding: 3%;
    border: 1px solid black;
    
    margin-right: 18%;
} */

.list {
    margin: -1px;
    border-bottom: 1px solid black;
    padding-top: 2%;
}

.list :hover{
    background-color: lightgrey;
    color: black;
}

.present{
    text-align: center;
}

.instar{
    width: 20%;
    height: 20%;
    float: left;
    margin: 2% 2% 2% 20%;
}

.youtube{
    width: 20%;
    height: 20%;
    float: left;
    margin: 2%;
}

.twitter{
    width: 20%;
    height: 20%;
    float: left;
    margin: 2%;
}

.mini_rank{
    text-align: center;
}

.about{
    border: 1px solid black;
    text-align: center;
    margin: 5% 0 5% 0;
}

.preparing_text{
    text-align: center;
    font-size: 20px;
}

.preparing1{
    background-image:url(../resources/images/son/christmas.jpg) ;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding-top: 10%;
    font-size: 25px;
    
}

.preparing2{
    background-image:url(../resources/images/son/bakery.jpg) ;
    background-size: cover;
    background-position: center;
    text-align: center;
    color:  black;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
    padding-top: 10%;
    font-size: 25px;
}


.preparing1 :hover{
    font-weight: bold;
    font-size: 30px;
}

.preparing2 :hover{
    font-weight: bold;
    font-size: 30px;
}

/* 메인화면 끝. 푸터 시작 */
footer{
    width: 100%;
   height: auto; 
    float: left;
    background: #EAEAEA;
    color: black;
    text-align: center;
  }
  
  .down_logo{
    padding-top: 5%;
    width: 35%;
    height: 100%;
    float: left;
  
  }
  
  .copyright{
    padding-top: 5%;
    width: 35%;
    height: 80%;
    float: left;
    border-left: 2px solid darkgray;
    border-right: 2px solid darkgray;
  
  
  }

  .sns{
    margin-top: 5%;
    width: 30%;
    height: 100%;
    float: right;
  
  }

  /* 푸터 끝 */